{% if posts %}
    <div class="posts-list">
        {% for post in page_obj %}
            <div class="post">
                <p><strong><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></strong> <small>{{ post.created_at|date:"Y-m-d H:i" }}</small></p>
                <div id="post-{{ post.id }}-content">
                    <p>{{ post.content }}</p>
                </div>
                <button class="btn btn-danger like" id="like-post-{{ post.id }}" data-id="{{ post.id }}" data-likes="{{ post.number_of_likes }}">
                    {% if request.user in post.likes.all %}
                        &#x2665;
                    {% else %}
                        &#x2661;
                    {% endif %}
                    {{ post.number_of_likes }}
                </button>
                {% if request.user == post.user %}
                    <button class="btn btn-primary edit" id="{{ post.id }}" data-type="edit">Edit</button>
                {% endif %}
            </div>
        {% endfor %}

        <div class="pagination">
            <span>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&lt; previous</a>
                    <br>
                    <a href="?page=1">&lt;&lt; first</a>
                {% endif %}
            </span>

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            <span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next &gt;</a>
                    <br>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &gt;&gt;</a>
                {% endif %}
            </span>
        </div>
    </div>

{% else %}
    <p>No posts available.</p>
{% endif %}